<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>matman DevTools</title>
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/panel-sidebar.css" rel="stylesheet">
</head>
<body>

<div id="app" class="container">
    <div style="display:none">
        <textarea :value="test"></textarea>
        <textarea :value="showData"></textarea>

        <button class="btn btn-default" @click="handleClick">点击我获取信息</button>
        <div>{{tips}}</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">DOM 元素的 selector</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal" v-for="(item, index) in selectorList">
                <dt>推荐{{index+1}}</dt>
                <dd><code>{{item}}</code></dd>
            </dl>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>目标</th>
            <th>值</th>
            <th>操作</th>
        </tr>
        <tr v-for="(item, index) in infoList">
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
            <td>
                <button class="btn btn-primary" @click="showDetail(item, index)">详细</button>
            </td>
        </tr>
    </table>

    <div id="detail_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">详细信息</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>目标</th>
                            <th>值</th>
                        </tr>
                        <tr>
                            <td>{{detailItem.key}}</td>
                            <td>{{detailItem.value}}</td>
                        </tr>
                    </table>

                    <div class="tips">
                        <ul>
                            <li>已注入了 jQuery，可直接使用 <code>$</code> 或 <code>jQuery</code> ;</li>
                            <li><code>const {useJquery} = require('web-crawl-util');</code> ;</li>
                        </ul>
                    </div>

                    <hr>

                    <div class="type-getText" v-if="detailItem.type==='isExist'">
                        <dl class="dl-horizontal">
                            <dt>jQuery 写法</dt>
                            <dd><code>$('{{selectedSelector}}').length &gt; 0</code></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>web-crawl-util 写法</dt>
                            <dd><code>useJquery.isExist('{{selectedSelector}}')</code></dd>
                        </dl>
                    </div>
                    <div class="type-getText" v-if="detailItem.type==='getText'">
                        <dl class="dl-horizontal">
                            <dt>jQuery 写法</dt>
                            <dd><code>$.trim($('{{selectedSelector}}').text())</code></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>web-crawl-util 写法</dt>
                            <dd><code>useJquery.getText('{{selectedSelector}}')</code></dd>
                        </dl>
                    </div>
                    <div class="type-getText" v-if="detailItem.type==='getComputedStyle'">
                        <dl class="dl-horizontal">
                            <dt>jQuery 写法</dt>
                            <dd><code>document.defaultView.getComputedStyle($('{{selectedSelector}}')[0]);</code></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>web-crawl-util 写法</dt>
                            <dd><code>useJquery.getComputedStyle('{{selectedSelector}}')</code></dd>
                            <dd><code>useJquery.getStyle('{{selectedSelector}}')</code></dd>
                        </dl>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="./js/jquery.3.3.1.min.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>

<script src="./js/vue.2.5.17.js"></script>
<script src="./js/panel-sidebar-common.js"></script>
<script src="./js/panel-sidebar.js"></script>

</body>
</html>